
@{
    ViewBag.Title = "Web API Examples";
}

<h2>Web API Examples</h2>

<ul>
    <li><a href="/card/all">Get all cards.</a></li>
    <li><a href="/card/factions">Get all factions.</a></li>
    <li><a href="/card/leaders">Get all leaders.</a></li>
    <li><a href="/card/power/10">Get all cards with power 10.</a></li>
</ul>


