
@{
    ViewBag.Title = "Web API Examples";
}

<h2>Web API Examples</h2>

<ul>
    <li><a href="/card/all">Get all cards.</a></li>
    <li><a href="/card/factions">Get all factions.</a></li>
    <li><a href="/card/leaders">Get all leaders.</a></li>
    <li><a href="/card/power/10">Get all cards with power 10.</a></li>
    <li><a href="/card/leaders/byfaction/NE">Get all NE leaders</a></li>
    <li><a href="/card/leaders/byfaction/NR">Get all NR leaders</a></li>
    <li><a href="/card/leaders/byfaction/MS">Get all MS leaders</a></li>
    <li><a href="/card/leaders/byfaction/ST">Get all ST leaders</a></li>
    <li><a href="/card/builddeck/byfaction/NE">Build an NE deck</a></li>
    <li><a href="/card/builddeck/byfaction/NR">Build an NR deck</a></li>
    <li><a href="/card/builddeck/byfaction/MS">Build an MS deck</a></li>
    <li><a href="/card/builddeck/byfaction/ST">Build an ST deck</a></li>
</ul>


