@using GwentApp.Models
@model GwentApp.Models.Player

@{
    ViewBag.Title = "Index";
    string color = "";
}

<h2>Select A Faction</h2>

@using (@Html.BeginForm("ProcessIndexForm", "Setup"))
{
    <table class="table">
        @foreach (factionInfo faction in Player.factionList)
        {
            //switch (faction.factionName)
            //{
            //    case "Monsters":
            //        color = "font-color:red";
            //        break;

            //}
            <tr>
                <th style=@color>@Html.Label(faction.factionName)</th>
                <td style="font-style:italic;@color">
                    @Html.Label(faction.factionPerk)
                </td>
            </tr>
            
        }
    </table>
    @*@Html.LabelFor(m => m.selectedFaction.factionName, "Pick a faction:");*@
    @Html.DropDownListFor(m => m.selectedFaction.factionName, Player.ddFactionList,"");

    <input type="submit" value="Submit"/>
}


