@model GwentApp.Models.Player
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (@Html.BeginForm("ProcessIndexForm", "Setup"))
{
    <label for="Faction">Pick a faction:</label>
    @Html.DropDownList("Faction", GwentApp.Models.Player.FactionSelectListItems);<br />
    <label for="LeaderName">Name your Leader:</label>
    @Html.TextBox("LeaderName", "Conan the Barbarian");<br />
    <input type="submit" value="Submit"/>
}


