@using GwentApp.Models
@model GwentApp.Models.Player

@{
    ViewBag.Title = "Index";
    //Future use for faction conditional formatting
    string color = "";
}

<h2>Select A Faction</h2>

@using (@Html.BeginForm("ProcessIndexForm", "Setup"))
{
    <table class="table">
        @*Loop the factions and show each one*@
        @foreach (FactionInfo faction in Player.FactionList)
        {
            //I really want to format the different factions based on their assigned primary color but that'll have to be later
            //This block works but I don't know if it's the correct way to do it.

            //switch (faction.factionName)
            //{
            //    case "Monsters":
            //        color = "font-color:red";
            //        break;

            //}
            <tr>
                <th style=@color>@Html.Label(faction.FactionName)</th>
                <td style="font-style:italic;@color">
                    @Html.Label(faction.FactionPerk)
                </td>
            </tr>
            
        }
    </table>
    //Create the drop down list using the DdFactionList list in the Player model
    @Html.DropDownListFor(m => m.SelectedFaction.FactionName, Player.DdFactionList,"");

    <input type="submit" value="Submit"/>
}


