@using GwentApp.Models;
@model GwentApp.Models.Player
@{
    ViewBag.Title = "ProcessIndexForm";
}

<h2>Select A Leader</h2>
@using (@Html.BeginForm("CreateDeck", "Setup"))
{
    @*Loop the leaders and show each one*@
    <table class="table">
        @foreach (LeaderInfo leader in Player.LeaderList)
        {
            //If the available leaders faction abbreviation matches our selected faction abbreviation then show it in the table
            if (leader.LeaderFactionAbbr == Model.SelectedFaction.FactionName)
            {
                <tr>
                    <th>@Html.Label(leader.LeaderName)</th>
                    <td style="font-style:italic">
                        @Html.Label(leader.LeaderAbility)
                    </td>
                </tr>
            }
        }
    </table>
    //This query only shows the leaders in the drop down list who belong to our selected faction. It then builds a new select list based on that value (the X portion)
    @Html.DropDownListFor((m => m.SelectedLeader.LeaderName), Player.DdLeaderList.FindAll(i => i.Value == Model.SelectedFaction.FactionName).Select(x => new SelectListItem { Value = x.Text, Text = x.Text }).ToList(), "")
    <input type="submit" value="Create Deck" />
}