@using GwentApp.Models;
@model GwentApp.Models.Player
@{
    ViewBag.Title = "ProcessIndexForm";
}

<h2>Select A Leader</h2>
@using (@Html.BeginForm("CreateDeck", "Setup"))
{
    <table class="table">
        @foreach (leaderInfo leader in Player.leaderList)
        {
            if (leader.leaderFactionAbbr == Model.selectedFaction.factionName)
            {
                <tr>
                    <th>@Html.Label(leader.leaderName)</th>
                    <td style="font-style:italic">
                        @Html.Label(leader.leaderAbility)
                    </td>
                </tr>
            }
        }
    </table>
    @Html.DropDownListFor((m => m.selectedLeader.leaderName), Player.ddLeaderList.FindAll(i => i.Value == Model.selectedFaction.factionName).Select(x => new SelectListItem { Value = x.Text, Text = x.Text }).ToList(), "")
    <input type="submit" value="Create Deck" />
}