{"adminOptions":{"STARTING_DECK_SIZE":"10","MAX_DECK_SIZE":"28","MAX_WEATHER_CARDS":"4","MAX_NEUTRAL_UNITS":"3","MAX_NEUTRAL_HEROES":"3","MAX_NEUTRAL_SPECIALS":"3","MAX_FACTION_HEROES":"3","MAX_FACTION_UNITS":"12","SELECT_ALL_WEATHER_CARDS":"select * from AllWeather","SELECT_ALL_NEUTRAL_UNITS":"select * from AllNeutralUnits","SELECT_ALL_NEUTRAL_HEROES":"select * from AllNeutralHeros","SELECT_ALL_NEUTRAL_SPECIALS":"select * from AllNeutralSpecial","SELECT_ALL_NR_HEROES":"select * from AllNRHeroes","SELECT_ALL_NE_HEROES":"select * from AllNEHeroes","SELECT_ALL_ST_HEROES":"select * from AllSTHeroes","SELECT_ALL_MS_HEROES":"select * from AllMSHeroes","SELECT_ALL_NR_UNITS":"select * from AllNRUnits","SELECT_ALL_NE_UNITS":"select * from AllNEUnits","SELECT_ALL_ST_UNITS":"select * from AllSTUnits","SELECT_ALL_MS_UNITS":"select * from AllMSUnits","SELECT_ALL_FACTIONS":"select * from dbo.Factions","SELECT_ALL_LEADERS":"select * from dbo.Leaders"}}